langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-google-genai
langchain-huggingface
flask
flask-cors
requests
google-cloud-storage
google-cloud-aiplatform
python-dotenv
sentence-transformers
